html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;


}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----group clear fix ------*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*----=====   GRID =======-------*/
*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

html body #testgrid{
	display: inline-block;
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: blue;
	left: 50px;
	top: 50px;
}

html body #all{
	display: inline-block;
	text-align: center;
	vertical-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 540px;
	background-color: purple;
	
}

html body #xy00{
	text-align: center;
	color: white;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: green;
	position: absolute;
	left: 50%;
	bottom: 50%;
}

html body #xy11{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: hsla(120,75%,75%,.5);
	position: absolute;
	left: 75%;
	bottom: 75%;
}

html body #xy-11{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: green;
	position: absolute;
	left: 25%;
	bottom: 75%;
}

html body #xy1-1{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: green;
	position: absolute;
	left: 75%;
	bottom: 25%;
}

html body #xy-1-1{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: green;
	position: absolute;
	left: 25%;
	bottom: 25%;
}

html body{

	text-align: center;
	vertical-align: center;
}